.ms_container {
    background-color: brown;
    height: 400px;
    
}


.ms_row {
    background-color: white;
    height: 270px;
   
}

img {
    width: 200px;
    height: 120px;
}

.fa-ticket {
    line-height:100px;
}